.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "wrapper"
    "main main . sidebar"
    "about about about about";
}
.hero-banner {
  grid-area: "banner";
  background-color: darkmagenta;


}
.page-wrapper {
  grid-area: "wrapper";
  background-color: chartreuse;

}
#work{
  grid-area: "work";
  background-color:blueviolet;

}
#contact{
  grid-area: "contact";
  background-color: brown;
}
#about {
  grid-area: "about";
}
